<ion-header>
  <my-header [title]="pageTitle"></my-header>
</ion-header>

<ion-content>
    <ion-list *ngIf="passo === 1">
      <ion-item>
        <ion-label floating>CPF</ion-label>
        <ion-input type="number" [(ngModel)]="diarista.cpf" name="cpf"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>RG</ion-label>
        <ion-input type="number" [(ngModel)]="diarista.rg" name="rg"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Telefone para contato</ion-label>
        <ion-input type="text" [(ngModel)]="diarista.telefone" name="telefone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Número de Registro no Sindicato</ion-label>
        <ion-input type="number" [(ngModel)]="diarista.sindicato" name="pis"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="passo === 2">
      <ion-item>
        <button ion-button style="width:50%" (click)="escolherFoto()">Foto da Galeria</button>
        <button ion-button style="width:50%" (click)="tirarFoto()">Tirar Foto</button>
      </ion-item>
      <img [src]="diarista.fotoBase64Image" *ngIf="diarista.fotoBase64Image" />
    </ion-list>

    <ion-list *ngIf="passo === 3">
      <ion-item>
        <ion-label floating>CEP</ion-label>
        <ion-input type="number" [(ngModel)]="diarista.endereco.cep" name="cep"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Endereço</ion-label>
        <ion-input type="text" [(ngModel)]="diarista.endereco.endereco" name="endereco" (ngModelChange)="diarista.endereco.endereco = $event.toLocaleUpperCase()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Número</ion-label>
        <ion-input type="number" [(ngModel)]="diarista.endereco.numero" name="numero"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Bairro</ion-label>
        <ion-input type="text" [(ngModel)]="diarista.endereco.bairro" name="bairro" (ngModelChange)="diarista.endereco.bairro = $event.toLocaleUpperCase()"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="passo === 4">
      <ion-item>
        <ion-label floating>Nome</ion-label>
        <ion-input type="text" [(ngModel)]="recomendacao.nome" name="nome" (ngModelChange)="recomendacao.nome = $event.toLocaleUpperCase()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Telefone para Contato</ion-label>
        <ion-input type="text" [(ngModel)]="recomendacao.contato" name="contato"></ion-input>
      </ion-item>

      <ion-item>
        <button ion-button full (click)="addRecomendacao()">Adicionar Recomendação</button>
      </ion-item>

      <ion-item-sliding *ngFor="let item of this.diarista.recomendacoes">
        <ion-item  (click)="edit(item)" *ngIf="this.diarista.recomendacoes.length > 0">
          {{item.nome}} - {{item.contato}}
        </ion-item>

        <ion-item-options>
          <button danger (click)="delete(item)">Excluir</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <button *ngIf="passo != 4" [disabled]="!formOk()" ion-button full (click)="avancar()">Avançar</button>
    <button *ngIf="passo === 4 && this.diarista.recomendacoes.length >= 3" ion-button full (click)="salvar()">Enviar Cadastro</button>

    <!--<button  ion-button full (click)="getAllPendant()">Enviar Cadastro</button>-->
</ion-content>
