<ion-header>
  <my-header [title]="pageTitle"></my-header>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="usuario">
      <ion-segment-button value="diaristas">
        Diaristas
      </ion-segment-button>
      <ion-segment-button value="clientes">
        Clientes
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="usuario">
    <ion-list *ngSwitchCase="'diaristas'">
        <ion-item *ngFor="let item of listaDiaristasPendentes" (click)="openDetails(item,'d')">
          <ion-thumbnail item-start>
            <img [src]="'data:image/jpeg;base64,'+item.fotoBase64Image" *ngIf="item.fotoBase64Image" />
          </ion-thumbnail>
          <h3>{{item.nome}}</h3>
          <p>{{item.cpf}}</p>
        </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'clientes'">
      <ion-item *ngFor="let item of listaClientesPendentes" (click)="openDetails(item,'c')">
        <ion-thumbnail item-start>
          <img [src]="'data:image/jpeg;base64,'+item.fotoBase64Image" *ngIf="item.fotoBase64Image" />
        </ion-thumbnail>
        <h3>{{item.nome}}</h3>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
