<ion-grid>
    <ion-row>
      <ion-col col-12>
        <b>Nome:</b> {{cliente.nome}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <b>CPF:</b> {{cliente.cpf}}</ion-col>
      <ion-col col-6>
        <b>Telefone:</b> {{cliente.telefone}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <b>Data do Cadastro:</b> {{cliente.dataCadastro.substring(0,10)}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-thumbnail item-start>
          <img [src]="'data:image/jpeg;base64,'+cliente.fotoBase64Image" *ngIf="cliente.fotoBase64Image" />
        </ion-thumbnail>
      </ion-col>
    </ion-row>
  </ion-grid>